<nav id="dashboard-nav" class="navbar navbar-expand rounded-top">
    <div class="container-fluid justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link
                <% if (locals.profile) { %>
                    <%= "active" %>
                <% } %>" href="/dashboard/profile"><i class="bi bi-person-lines-fill"></i> Profile</a></li>
            <li class="nav-item">
                <a class="nav-link
                <% if (locals.history) { %>
                    <%= "active" %>
                <% } %>" href="/dashboard/history"><i class="bi bi-clock-history"></i> History</a></li>
            <li class="nav-item">
                <a class="nav-link
                <% if (locals.search) { %>
                    <%= "active" %>
                <% } %>" href="/dashboard/search"><i class="bi bi-search"></i> Search</a></li>
        </ul>
    </div>
</nav>
