<div class="col-2 left">
    <ul class="list-group">
        <li class="list-group-item">
            <a id="profil" class="text-decoration-none" href="/dashboard/profile">
                <i class="bi bi-person"></i> Profile</a></li>
        <li class="list-group-item">
            <a id="history" class="text-decoration-none" href="/dashboard/history">
                <i class="bi bi-clock-history"></i> History</a></li>
        <li class="list-group-item">
            <a id="search" class="text-decoration-none" href="/dashboard/search">
                <i class="bi bi-search"></i> New Search</a></li>
    </ul>
</div>