<div id="dashboard-nav" class="col-2 left ">
    <ul class="list-group ">
        <li class="list-group-item d-flex justify-content-center">
            <a id="profil" class="text-decoration-none dashboard-nav-hover" href="/dashboard/profile">
                <i class="bi bi-person-fill bi-person"></i> <span class="icon-text">Profile</span></a></li>

        <li class="list-group-item justify-content-center d-flex justify-content-center">
            <a id="history" class="text-decoration-none dashboard-nav-hover" href="/dashboard/history">
                <i class="bi bi-clock-history"></i> <span class="icon-text">History</span></a></li>

        <li class="list-group-item justify-content-center d-flex justify-content-center">
            <a id="search" class="text-decoration-none dashboard-nav-hover" href="/dashboard/search">
                <i class="bi bi-search"></i> <span class="icon-text">Search</span></a></li>
    </ul>
</div>