<footer class="container footer">
    <div class="row border-top pt-1 pb-2">
        <div class="col pb-2 ps-5 pt-2 border-end">
            <ul class="ml-auto list-unstyled">
                <li class=""><a class="nav-link" href="/">Home</a></li> 
                <li class=""><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class=""><a class="nav-link" href="/about">About</a></li>                    
            </ul>
        </div>
        <div class="col pb-2 ps-5 pt-2">
            <ul class="list-unstyled">
                <li class=""><a class="nav-link" href="/terms">Terms of service</a></li>
            </ul>
        </div>
        <div class="col pb-2 ps-5 pt-2 border-start">
            <ul class="list-unstyled">
                <li class=""><a class="nav-link" href="/signup">Sign up</a></li>
                <li class=""><a class="nav-link" href="/">Log in</a></li>
            </ul>
        </div>        
    </div>
    <div class="row"><div class="col text-center">Designed by <span class="text-danger"><a href="#">someone</a></span> © 2022</div></div>
</footer>
