<footer class="container">
    <div class="row border-top pt-1 pb-2">
        <div class="col pb-2 ps-5 pt-2 border-end">
            <ul class="ml-auto list-unstyled">
                <li class=""><a class="nav-link" href="/">Home</a></li>
                <li class=""><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class=""><a class="nav-link" href="/about">About</a></li>
            </ul>
        </div>
        <div class="col pb-2 ps-5 pt-2">
            <ul class="list-unstyled">
                <li class=""><a class="nav-link" href="/terms">Terms of service</a></li>
            </ul>
        </div>
        <div class="col pb-2 ps-5 pt-2 border-start">
            <ul class="list-unstyled">
                <li class=""><a class="nav-link" href="/signup">Sign up</a></li>
                <li class=""><a class="nav-link" href="/">Log in</a></li>
            </ul>
        </div>
    </div>
    <div class="row"><div class="col text-center">Designed by <span class="text-danger"><a href="#">someone</a></span> © 2022</div></div>
    <div id="error-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="btn-close model-close-button" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="error-msg" class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary model-close-button" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

</footer>
