
<header class="container">
    <nav class="navbar justify-content-end">
        <ul class="nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/"></a></li>
            <li id="user" class="nav-item d-none"><a class="nav-link dashboard" href="/dashboard">Welcome </a></li>
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
            <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item <% if(!(locals.logout)){%> <%='d-none'%> <%}%>"><a class="nav-link" href="/logout">Logout</a></li>
            <li class="nav-item  light-switch row align-items-center"><i class="light-switch-icon h5 bi bi-lamp-fill "></i></li>
        </ul>
    </nav>
    <% if(locals.username){%>
        <div class="row align-items-center">
        <% if(locals.email_hash){%>
            <img class="col-auto" src="https://www.gravatar.com/avatar/<%= email_hash %>?s=64&r=g" crossorigin="anonymous">
        <%}%>
        <h5 class="col">Welcome  <%=username%> </h5>

        </div>
    <%}%>
</header>