<!-- NOTE add d-none -->
<div id="loader" class="row mt-2 justify-content-center align-items-center ">
    <div id="spinner" class="col-auto spinner-border d-none" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id="progress-bar" class="progress mt-3 d-none" role="progressbar" aria-valuenow="50"  style="height: 5px" aria-label="5px high" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar"></div>
    </div>
</div>
<div id="results" class="row justify-content-between mt-2 border-top d-none" >
    <div class="col-sm-12 col-md-1 m-0 mt-3 p-0 ">
        <nav  class="h-100 flex-column align-items-stretch" style="min-width:80px;">
            <nav id="navbar-search" class="nav nav-pills flex-column">
                <a class="nav-link h6 m-0 p-2" href="#account-info">Details</a>
                <a class="nav-link h6 m-0 p-2" href="#highlights">Highlights</a>
                <a class="nav-link h6 m-0 p-2" href="#tweets-by-media-type-h">Media</a>
                <a class="nav-link h6 m-0 p-2" href="#tweets-by-type-h">Types</a>
                <a class="nav-link h6 m-0 p-2" href="#tweets-by-language-h">Languages</a>
                <a class="nav-link h6 m-0 p-2" href="#week-chart-h">Week</a>
                <a class="nav-link h6 m-0 p-2" href="#top10s">Top 10</a>
                <a class="nav-link h6 m-0 p-2" href="#original-interactions-wrapper">Original</a>
                <a class="nav-link h6 m-0 p-2" href="#avg-interactions-wrapper">Averages</a>
            </nav>
        </nav>
    </div>
    <div id="results-content" class="border-start col-sm-12 col-md-10 m-0 mt-3 ps-2"
    style="position:relative; height: 700px; overflow-y: auto;"
    data-bs-spy="scroll" data-bs-target="#navbar-search" data-bs-smooth-scroll="true" tabindex="0">
        <div id="account-info" class="row">
            <div id="user-info" class="col-sm-12 col-lg-6">
                <h5 class="sector-title" id="userinfo-section">
                    <a class="text-decoration-none" href="#userinfo-section">User Info</a>
                </h5>
                <div id="user-profile" class="row align-items-center mt-2 ps-3">
                    <div id="name-username" class="col">
                        <p id="name"><i class="bi bi-person-fill" title="Name"></i> <span></span></p>
                        <p id="username"><i class="bi bi-twitter" title="Username"></i> <span></span></p>
                    </div>
                </div>
                <p id="total-tweets" class="mt-2" title="Total tweets">
                    <i class="bi bi-arrow-down-up"></i>
                    Total tweets:
                    <span id="total-tweets-data" class="text-primary data-hover data-clean"></span><span id="total-tweets-data-compare" class="text-primary data-hover data-clean"></span>
                </p>
                <div class="row">
                    <p class="col-auto" title="Total Followers">
                        <i class="bi bi-people-fill"></i>
                        Followers:
                        <span id="followers" class="text-primary data-hover data-clean"></span><span id="followers-compare" class="text-primary data-hover data-clean"></span>
                    </p>
                    <p class="col-auto" title="Total Followings">
                        <i class="bi bi-person-check-fill"></i>
                        Followings:
                        <span id="followings" class="text-primary data-hover data-clean"></span><span id="followings-compare" class="text-primary data-hover data-clean"></span>
                    </p>
                </div>
                <div  class="row">
                    <p class="col-auto">
                        <i class="bi bi-at"></i>
                        Mentions:
                        <span id="mentions" class="text-primary data-hover data-clean"></span><span id="mentions-compare" class="text-prim data-clean data-hover"></span>
                    </p>
                    <p class="col-auto">
                        <i class="bi bi-graph-up"></i>
                        Engagement:
                        <span id="engagement" class="text-primary data-hover data-clean" title="percent"></span> <span id="engagement-compare" class="text-primary data-clean data-hover" title="percent"></span>
                    </p>
                </div>
                <div id="total-charts" class="row justify-content-center">
                    <div id="total-info">
                        <h6 id="total-info-i" class="h6" title="Interval">
                            <i class="bi bi-stopwatch"></i>
                            Interval:
                            <span id="total-interval"  class="data-clean" title="Average interval between posts"></span>
                            <span id="total-interval-compare"  class="data-clean" title="Average interval between posts"></span></h6>
                    </div>
                </div>
            </div>
            <div id="search-interval" class="col-sm-12 col-lg-6">
                <h5 class="sector-title" id="search-info">
                    <a href="#search-info" class="text-decoration-none">Search Details</a>
                </h5>
                <div id="search-sample-new">
                    <h6 class="font-weight-bold">Dataset</h6>
                    <p id="search-date" class="h7 mb-0">
                        Search results of:
                        <i class="bi bi-calendar4-week"></i>
                        <span class="date text-primary mb-0">
                        </span>
                        <span class="time mb-0"><i class="bi bi-clock"></i> </span>
                    </p>
                    <p id="interval" class="h7 mb-0">
                        Interval:
                        <i class="bi bi-calendar4-week"></i>
                        <span id="interval-start-date" class="date text-primary mb-0"></span>
                        <span id="interval-start-time" class="time mb-0"><i class="bi bi-clock"></i> </span>
                        <i class="bi bi-arrow-right"></i>
                        <i class="bi bi-calendar4-week"></i>
                        <span id="interval-end-date" class="date text-primary mb-0"></span>
                        <span id="interval-end-time"class="time mb-0"><i class="bi bi-clock"></i> </span>
                    </p>
                    <p id="sample" class="h7 mt-0">Sample size: <span class="data text-primary"></span></p>
                </div>
                <div id="search-sample-old">
                    <h6 class="font-weight-bold">Comparing Dataset</h6>
                    <p id="search-date" class="h7 mb-0">
                        Search results of:
                        <i class="bi bi-calendar4-week"></i>
                        <span class="date text-primary">
                        </span>
                        <span class="time "><i class="bi bi-clock "></i> </span>
                    </p>
                    <p id="interval" class="h7 mb-0">
                        Interval:
                        <i class="bi bi-calendar4-week"></i>
                        <span id="interval-start-date" class="date text-primary"></span>
                        <span id="interval-start-time" class="time "><i class="bi bi-clock "></i> </span>
                        <i class="bi bi-arrow-right"></i>
                        <i class="bi bi-calendar4-week"></i>
                        <span id="interval-end-date" class="date text-primary"></span>
                        <span id="interval-end-time"class="time "><i class="bi bi-clock "></i> </span>
                    </p>
                    <p id="sample" class="h7">Sample size: <span class="data text-primary"></span></p>
                </div>
                <div id="search-limit" class="d-none">
                    <p>
                        Limit: <span id="limit" class="data-clean"></span> Remaining: <span id="remaining" class="data-clean"></span> Reset: <span id="reset" class="data-clean"></span>
                    </p>
                </div>
            </div>
        </div>
        <div id="highlights" class="row border-top mt-1 justify-content-between pt-2">
            <h5 id="highlights-h" class="sector-title">
                <a href="#Highlights" class="text-decoration-none">Highlights</a>
            </h5>
            <div class="col-sm-12 col-md-4 col-lg-2 flex-row justify-content-center">
                <p class="text-center mb-0">
                    <i class="bi bi-repeat h1 text-primary"></i>
                </p>
                <p id="most-retweet_count-data" class="text-center">
                    Most Retweets
                    <br>
                    <a id="most-retweet_count" class="data-hover data-clean" href="" target="_blank"></a><a id="most-retweet_count-compare" class="data-hover data-clean"  href="" target="_blank"></a>
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 flex-row justify-content-center">
                <p class="text-center mb-0">
                    <i class="bi bi-reply-fill h1 text-success"></i>
                </p>
                <p id="most-reply_count-data" class="text-center">
                    Most Replies
                    <br>
                    <a id="most-reply_count" class="data-hover data-clean"  href="" target="_blank"></a><a id="most-reply_count-compare" class="data-hover data-clean"  href="" target="_blank"></a>
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 flex-row justify-content-center">
                <p class="text-center mb-0">
                    <i class="bi bi-heart-fill h1 text-danger"></i>
                </p>
                <p id="most-like_count-data" class="text-center">
                    Most Likes
                    <br>
                    <a id="most-like_count" class="data-hover data-clean"  href="" target="_blank"></a><a id="most-like_count-compare" class="data-hover data-clean"  href="" target="_blank"></a>
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 flex-row justify-content-center">
                <p class="text-center mb-0">
                    <i class="bi bi-chat-right-quote-fill h1 text-warning"></i>
                </p>
                <p id="most-quote_count-data" class="text-center">
                    Most Quotes
                    <br>
                    <a id="most-quote_count" class="data-hover data-clean"  href="" target="_blank"></a><a id="most-quote_count-compare" class="data-hover data-clean"  href="" target="_blank"></a>
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 flex-row justify-content-center">
                <p class="text-center mb-0">
                    <i class="bi bi-bar-chart-line-fill h1 text-info" class="text-center"></i>
                </p>
                <p id="most-impression_count-data" class="text-center">
                    Most Impressions
                    <br>
                    <a id="most-impression_count" class="data-hover data-clean"  href="" target="_blank"></a><a id="most-impression_count-compare" class="data-hover data-clean"  href="" target="_blank"></a>
                </p>
            </div>

        </div>
        <div id="pie-charts" class=" row border-top mt-1">
            <div id="tweets-by-media-type-wrapper" class="row pt-2 mb-3 align-items-center justify-content-center m-0">
                <h5 id="tweets-by-media-type-h" class="col-md-6 col-lg-12 sector-title">
                    <a href="#" class="active text-decoration-none" aria-current="true" href="#tweets-by-media-type-h">Tweets By Media Type</a>
                </h5>
                <div id="tweets-by-media-type-data" class="col-sm-12 col-md-8 col-lg-4">
                    <ul id="tweets-by-media-type-data-ul" class="list-group  data-clean">
                    </ul>
                </div>
                <div id="tweets-by-media-type" class="col-8 pie-chart-container data-clean">
                </div>
            </div>
            <div id="tweets-by-type-wrapper" class="row border-top pt-2 mb-3 align-items-center justify-content-center m-0">
                <h5 id="tweets-by-type-h" class="col-md-6 col-lg-12 sector-title">
                    <a class="text-decoration-none" href="#tweets-by-type-h">Tweets By Type</a>
                </h5>
                <div id="tweets-by-type-data"  class="col-sm-12 col-md-8 col-lg-4">
                    <ul id="tweets-by-type-data-ul" class="list-group data-clean"></ul>
                </div>
                <div id="tweets-by-type"  class="col-8 pie-chart-container data-clean">
                </div>
            </div>
            <div id="tweets-by-langs-wrapper" class="row border-top pt-2 mb-3 align-items-center justify-content-center m-0">
                <h5 id="tweets-by-language-h" class="col-md-6 col-lg-12 sector-title">
                    <a class="text-decoration-none" href="#tweets-by-language-h">Tweets By Language</a></h5>
                <div id="tweets-by-langs-data"  class="col-sm-12 col-md-8 col-lg-4">
                    <ul id="tweets-by-langs-data-ul" class="list-group data-clean"></ul>
                </div>
                <div id="tweets-by-langs"  class="col-8 pie-chart-container data-clean">
                </div>
            </div>
        </div>
        <div id="week-charts" class="row border-top justify-content-center mt-3 mb-3 pt-2">
            <h5 id="week-chart-h" class="row"><a class="text-decoration-none" href="#week-chart-h">Tweets per day</a></h5>
            <div id="week-chart-wrapper" class="row justify-content-center bar-chart data-clean"></div>
        </div>
        <div id="top10s" class="row pt-2 border-top">
            <div id="hashtags-wrapper" class="col-md-12 col-lg-6">
                <h5 id="hashtags-h"><a class="text-decoration-none" href="#top-hashtags">Top 10 Hashtags</a></h5>
                <div id="hashtags-chart-wrapper" class="col data-clean">
                </div>
            </div>
            <div id="mentioned_users-wrapper" class="col-md-12 col-lg-6">
                <h5 id="mentioned_users-h"><a class="text-decoration-none" href="#top-mentions">Top 10 Mentions</a></h5>
                <div id="mentioned_users-chart-wrapper" class="col data-clean">
                </div>
            </div>
        </div>
        <div id="original-interactions-wrapper" class="row border-top pt-3">
            <div class="row mb-3">
                <h5 class="sector-title"><a class="text-decoration-none" href="#original">Average interactions of original tweets</a></h5>
            </div>
            <div class="row mb-3">
                <div id="avg-interactions-original" class="col-sm-12 col-md-12 col-lg-6 col-xl-4 pb-3">
                    <i class="bi bi-postcard"></i>
                    Original:
                    <span id="avg-interactions-original-count" class="data-clean" title="text posts"></span>
                    <span id="avg-interactions-original-count-compare"  class="data-clean" title="text posts"></span>
                    <i class="bi bi-stopwatch" title="interval"></i>
                    <span id="avg-interactions-original-interval" class="data-clean" title="Average interval between text posts"></span>
                    <span id="avg-interactions-original-interval-compare"  class="data-clean" title="Average interval between text posts"></span>
                    <ul id="avg-interactions-original-data" class="list-group data-clean"></ul>
                </div>
            </div>
        </div>
        <div id="avg-interactions-wrapper" class="row border-top pt-3">
            <div class="row mb-3">
                <h5 class="sector-title"><a class="text-decoration-none" href="#average">Average interactions per tweet by media type</a></h5>
            </div>
            <div id="avg-interactions" class="row align-items-start">
                <div id="avg-interactions-text" class="col-sm-12 col-md-12 col-lg-6 col-xl-4 pb-3">
                    <i class="bi bi-chat-right-text-fill"></i>
                    Text:
                    <span id="avg-interactions-text-count" class="data-clean" title="text posts"></span>
                    <span id="avg-interactions-text-count-compare"  class="data-clean" title="text posts"></span>
                    <i class="bi bi-stopwatch" title="interval"></i>
                    <span id="avg-interactions-text-interval" class="data-clean" title="Average interval between text posts"></span>
                    <span id="avg-interactions-text-interval-compare"  class="data-clean" title="Average interval between text posts"></span>
                    <ul id="average" class="list-group data-clean"></ul>
                </div>
                <div id="avg-interactions-video" class="col-sm-12 col-md-12 col-lg-6 col-xl-4 pb-3">
                    <i class="bi bi-camera-reels-fill"></i>
                    Video:
                    <span id="avg-interactions-video-count" class="data-clean" title="video posts"></span>
                    <span id="avg-interactions-video-count-compare"  class="data-clean" title="video posts"></span>
                    <i class="bi bi-stopwatch" title="interval"></i>
                    <span id="avg-interactions-video-interval" class="data-clean" title="Average interval between video posts"></span>
                    <span id="avg-interactions-video-interval-compare" class="data-clean" title="Average interval between video posts"></span>
                    <ul id="average" class="list-group data-clean"></ul>
                </div>
                <div id="avg-interactions-photo" class="col-sm-12 col-md-12 col-lg-6 col-xl-4 pb-3">
                    <i class="bi bi-camera-fill"></i>
                    Photo:
                    <span id="avg-interactions-photo-count" class="data-clean" title="photo posts"></span>
                    <span id="avg-interactions-photo-count-compare"  class="data-clean" title="photo posts"></span>
                    <i class="bi bi-stopwatch" title="interval"></i>
                    <span id="avg-interactions-photo-interval" class="data-clean" title="Average interval between photo posts"></span>
                    <span id="avg-interactions-photo-interval-compare" class="data-clean" title="Average interval between photo posts"></span>
                    <ul id="average" class="list-group data-clean"></ul>
                </div>
                <div id="avg-interactions-link" class="col-sm-12 col-md-12 col-lg-6 col-xl-4 pb-3">
                    <i class="bi bi-link-45deg"></i>
                    Link:
                    <span id="avg-interactions-link-count" class="data-clean" title="link posts"></span>
                    <span id="avg-interactions-link-count-compare" class="data-clean" title="link posts"></span>
                    <i class="bi bi-stopwatch" title="interval"></i>
                    <span id="avg-interactions-link-interval" class="data-clean" title="Average interval between link posts"></span>
                    <span id="avg-interactions-link-interval-compare" class="data-clean" title="Average interval between link posts"></span>
                    <ul id="average" class="list-group data-clean"></ul>
                </div>
                <div id="avg-interactions-polls" class="col-sm-12 col-md-12 col-lg-6 col-xl-4 pb-3">
                    <i class="bi bi-bar-chart-fill"></i>
                    Polls:
                    <span id="avg-interactions-polls-count" class="data-clean" title="polls posts"></span>
                    <span id="avg-interactions-polls-count-compare"  class="data-clean" title="polls posts"></span>
                    <i class="bi bi-stopwatch" title="interval"></i>
                    <span id="avg-interactions-polls-interval" class="data-clean" title="Average interval between poll posts"></span>
                    <span id="avg-interactions-polls-interval-compare" class="data-clean" title="Average interval between poll posts"></span>
                    <ul id="average" class="list-group data-clean"></ul>
                </div>
                <div id="avg-interactions-animated_gif" class="col-sm-12 col-md-12 col-lg-6 col-xl-4 pb-3">
                    <i class="bi bi-filetype-gif"></i>
                    Gif:
                    <i class="bi bi-stopwatch" title="interval"></i>
                    <span id="avg-interactions-animated_gif-interval" class="data-clean" title="Average interval between animated_gif posts"></span>
                    <span id="avg-interactions-animated_gif-interval-compare" class="data-clean" title="Average interval between animated_gif posts"></span>
                    <ul id="average" class="list-group data-clean"></ul>
                </div>
            </div>
        </div>
    </div>
</div>