<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Analytics</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body class="container-fluid blue">
    <header class="container">        
        <nav class="navbar justify-content-end">
            <ul class="nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Dark-Theme</a></li>
            </ul>
        </nav>
    </header>
    <main class="container mt-5 mb-5">
        <p class="container-fluid text-center">Welcome to <span class="text-danger">placeholder</span> <br> This is a Twitter analytics application which let you have insights about a list of public profiles</p>
        
        <form id="sign-in" class="container-sm p-3">
            <h4 class="text-star">Sign in</h4>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Remember me!</label>
                <a href="#">Forgot your passoword?</a>
            </div>
            <button class="btn btn-outline-primary" type="submit">Login</button>
            <div class="text-center">
                <div class="row p-2">
                    <svg class="col d-inline " viewBox="0 0 300 1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0" y1="0" x2="300" y2="0" stroke="#aaaaaa" />
                    </svg>
                  
                    <p class="col-1 d-inline pt-2">or</p>

                    <svg class="col d-inline " viewBox="0 0 300 1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0" y1="0" x2="300" y2="0" stroke="#aaaaaa" />
                    </svg>
                </div>
                <p class="">Don't have an account? <a href="#">Sign up for free</a></p>
                
            </div>
        </form>
    </main>
    <footer class="container">
        <div class="row border-top pt-3 pb-3">
            <div class="col pb-2 ps-5 pt-2 border-end">
                <ul class="ml-auto list-unstyled">
                    <li class=""><a class="nav-link" href="#">Home</a></li>
                    <li class=""><a class="nav-link" href="#">Dashboard</a></li>
                    <li class=""><a class="nav-link" href="#">About</a></li>                    
                </ul>
            </div>
            <div class="col pb-2 ps-5 pt-2">
                <ul class="list-unstyled">
                    <li>col-2</li>
                </ul>
            </div>
            <div class="col pb-2 ps-5 pt-2 border-start">
                <ul class="list-unstyled">
                    <li>col-3</li>
                </ul>
            </div>
            
        </div>
        <div class="row"><div class="col text-center">Designed by <span class="text-danger"><a href="#">someone</a></span> © 2022</div></div>
    </footer>
</body>
<script type="javascript" src="js/jquery-3.6.1.min.js"></script>
<script type="javascript" src="js/bootstrap.min.js"></script>
</html>