header{
    background-color:white ;
}


footer{
    background-color:white ;
    border-color: #aaaaaa;
}

main form{    
    width: 50% !important;
    
}

footer div.col {
    background-color:white ;
}
#dashboard .row {
    background-color: antiquewhite;
}

#dashboard .left{
    background-color: #aaaaaa;
} 

#dashboard .right{
    background-color: #555555;
} 

@media screen and (max-width: 1000px){
    main form {
        width: 70% !important;
    }
}

@media screen and (max-width: 750px){
    main form {
        width: 100% !important;
    }
}

