@media screen and (max-width:1024px){
    #wrapper {
        background-color: bisque;
    }
}

@media screen and (max-width:800px){
    #wrapper {
        background-color:aqua;
    }
}

@media screen and (max-width:600px){
    #wrapper {
        background-color:red;
    }
}