#wrapper{
    background-color:blueviolet;
}

header{
    background-color: aqua;
    display: block;
    position: relative;
}

header h1{
    display: block;
    position: relative;
    padding: 2%;
    
}

#main-content{
    background-color: azure;
    display: block;
    float: left;
    width: 70%;
    padding: 0%;
}

article{
    border: solid 1px;    
    border-color: black;
    width: 200px;
    display:inline-block;
    margin: 1%;
    padding: 5%;
}

#main-article{
    display: block;   
    position: relative; 
    float: left;
    width: auto;
    height: auto;
    margin: 5%;
    padding: 0;
}

aside{
    display: block;
    float: right;
    width: 30%;
    text-align: center;
    background-color: brown;
}

