<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container mt-5 mb-5" id="about">
        <div class="row">
            <h1><a id="#contact" href="#contact">Contact</a></h1>

        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>