<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!--header-->
<%- include('../partials/head') %>
<body>
    <!--navigation-->
    <%- include('../partials/header') %>

    <main class="container mt-5 mb-5" id="index">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-12 col-md-8 pt-3 pb-3 rounded border">

          <p class="container-fluid text-center">
              Welcome to <span class="text-danger">placeholder</span>
              <br>
              This is a Twitter analytics application which let you have insights about a list of public profiles
          </p>

          <form id="login-form" class="container-sm p-3 needs-validation" action="/login" method="POST" novalidate>
              <h4 class="text-star">Log in</h4>
              <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" name="email" autocomplete="email" placeholder="name@example.com" required>
                  <label for="email">Email address</label>
                  <div class="invalid-feedback">Please choose a valid email.</div>
              </div>
              <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="password" autocomplete="current-password" id="floatingPassword" placeholder="Password" required>
                  <label for="password">Password</label>
              </div>
              <div id="errors" class="alert alert-danger d-none"></div>
              <div class="form-check mb-3">
                  <input class="form-check-input" name="remember" type="checkbox">
                  <label class="remember">Remember me!</label>
                  <a id="forgot-psw-modal-btn" class="show-modal-btn" data-modal="forgot-psw-modal" href="#">Forgot your passoword?</a>
              </div>
              <button id="login-btn" class="btn btn-outline-primary" type="submit">Login</button>
              <div class="text-center">
                  <div class="row p-2">
                      <svg class="col d-inline " viewBox="0 0 300 1" xmlns="http://www.w3.org/2000/svg">
                          <line x1="0" y1="0" x2="300" y2="0" stroke="#aaaaaa" />
                      </svg>

                      <p class="col-1 d-inline pt-2">or</p>

                      <svg class="col d-inline " viewBox="0 0 300 1" xmlns="http://www.w3.org/2000/svg">
                          <line x1="0" y1="0" x2="300" y2="0" stroke="#aaaaaa" />
                      </svg>
                  </div>
                  <p class="">Don't have an account? <a href="/signup">Sign up for free</a></p>
              </div>
          </form>

          <div id="forgot-psw-modal" class="modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Forgot the password?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form id="forgot-psw-form" class="form-controll needs-validation" action="/forgot-password" method="POST">
                          <label>Please insert the email</label>
                          <div class="form-floating mb-3 has-validation">
                              <input id="forgot-email" name="email" type="email" class="form-control form-control-sm" required>
                              <label for="forgot-email">email</label>
                              <div class="valid-feedback">Looks good!</div>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button id="forgot-psw-btn" type="submit" class="form-submit btn btn-primary" data-form="forgot-psw-form" data-bs-dismiss="modal">Send</button>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>

    </main>
    <!--footer-->
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>