<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container mt-5 mb-5" id="signup">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-8 pt-3 pb-3 rounded border">
                <form id="signup-form" class="container-sm p-3 needs-validation" method="POST" action="/signup" novalidate>
                    <h4 class="text-star">Sign in</h4>
                    <div class="form-floating mb-3 has-validation">
                        <input type="text" class="form-control" id="signup-name" name="name" autocomplete="name" placeholder="First Name" required>
                        <label for="name">Name</label>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="form-floating mb-3 has-validation">
                        <input type="email" class="form-control" id="signup-email" name="email" autocomplete="email" placeholder="name@example.com" required>
                        <label for="email">Email</label>
                        <div class="invalid-feedback">Please choose a valid email.</div>
                    </div>
                    <div id="signup-psw"  class="form-floating mb-3 has-validation">
                        <input type="password" class="form-control" minlength="8" id="signup-password" name="password" autocomplete="new-password" placeholder="Password" required>
                        <label for="password">Password</label>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div id="signup-psw-confirm" class="form-floating mb-3 has-validation">
                        <input type="password" class="form-control" minlength="8" id="signup-password-confirm" name="password_confirm" placeholder="Password" required>
                        <label for="password_confirm">Repeat Password</label>
                        <div class="invalid-feedback">Passwords must match</div>
                    </div>
                    <div id="errors" class="alert alert-danger d-none"></div>
                    <div class="form-check mb-3 has-validation">
                        <input class="form-check-input" id="signup-terms" type="checkbox" name="terms" required>
                        <label class="form-check-label" for="signup-terms">I agree to all statements in</label>
                        <a href="/terms">Terms of service</a>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col g-recaptcha" data-sitekey="6LelT0olAAAAAENj2D8op4_dpePjY1iMyl5Luo4b"></div>
                    </div>
                    <button id="signup-btn" class="mt-2 form-submit btn btn-outline-primary" data-form="signup-form" type="submit">Sing up</button>
                    <div class="text-center">
                        <div class="row p-2">
                            <svg class="col d-inline " viewBox="0 0 300 1" xmlns="http://www.w3.org/2000/svg">
                                <line x1="0" y1="0" x2="300" y2="0" stroke="#aaaaaa" />
                            </svg>

                            <p class="col-1 d-inline pt-2">or</p>

                            <svg class="col d-inline " viewBox="0 0 300 1" xmlns="http://www.w3.org/2000/svg">
                                <line x1="0" y1="0" x2="300" y2="0" stroke="#aaaaaa" />
                            </svg>
                        </div>
                        <p class="">You have an account? <a href="/">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>
