:root{
    --site-title-color : #75b4e3;
    --site-subtext-color : #ae75e3;
    --header-background-color:  #201a42;
}

.hidden{
    display: none;
}

/* =============================
    HEADER - NAV - ICON-SET
============================= */

header{
    background-color: var(--header-background-color);
    color: var(--site-title-color);    
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
}

.header-container{    
    display: flex;    
    position: relative;
    justify-content:space-between;
    min-width: 350px;
}

.site-title a{
    color:#75b4e3;
    text-decoration: none;
}

.site-title a:hover,a:focus{
    color:#75b4e3
}

.site-title a > *{
    display: inline-block;
}

.weather-icon:hover{
    color: yellow;
}

.site-title p{    
    margin:0;
    font-size: 0.8em;
    text-align: center;
    color: var(--site-subtext-color);
}

/*site-nav-settings*/

/*
.nav-settings{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
}
*/
.icon-set{
    text-align: right;
    padding: 0;
}

.icon-set > *{
    display: inline-block;
}

.nav-container{
    position: relative;
}


nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;    
    margin-top: 0;
    margin-bottom:0.5rem;
    
}

nav li{    
    margin-left:1rem;
    padding-bottom: 1px;
}

nav a{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    
}

nav a:hover{
    color:blueviolet;
    border-bottom: #75b4e3 solid 1px;

}

nav .active{
    border-bottom: #75b4e3 solid 1px;
}

.nav-container .btn{
    position: relative;
    top: -5px;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
}

.btn-white{
    color:white;
}

.btn-white:hover{
    color:#75b4e3;
}

.form-control{
    width: auto;
}

/* =============================
    MAIN
============================= */

/* Carousel */
#weather-carousel, body{
    background-color: black;
}

/* =============================
    Media Queries
============================= */
@media screen and (max-width: 750px) {
    .nav-container{
        min-width: 150px;
    }
    nav{
        position: absolute;
        top: 2em;
        left: 0;
        right: 0;
        background-color: #201a42 ;
        opacity: 0.9;
        border-radius: 0.5em;
    }

    nav ul{
        display: block;
        text-align: center;
        padding: 0;
    }

    nav ul li{
        margin: 0;        
        padding: 0.5em;
    }

    .btn-menu{
        display: block;
        position: relative;
        float: right;
    }

    .icon-set{
        margin-top: 0.75rem;
    }

}